[v-cloak] { display: none; }

.header-highlight {
  color: #818585;
}

.info {
  padding: 1.5rem;
}

.container {
  padding-top: 1.5rem;
}

#videos {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

#videos video {
  flex: 1 1 50%;
  padding: 0;
  min-width: 0;
}